<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >    
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />        
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>        
        <title>Lista transakcji</title>
    </head>
    
    <body>
        
        
        <div class="container">                
            <h4>   <strong th:text="${header}"/>  </h4>      
                        
        </div>
           

        <div class="container">
            <div class="table-responsive">
                <table class="table table-bordered">          
                    <thead>
                        <tr  class="active">
                            <th>Data wypożyczenia</th>
                            <th>Data oddania</th>
                            <th>Gra</th>
                            <th>Klient</th>
                            <th>Pracownik</th>
                            <th>Koszt</th>
                        </tr>
                        
                    </thead>
                    <tbody>
                    <tr th:each ="wypozyczenie : ${wypozyczenieList}">

                        <td> <b  th:utext="${wypozyczenie.data_wypozyczenia}">...</b> </td>
                        <td> <b  th:utext="${wypozyczenie.data_oddania}">...</b> </td>
                        <td> <b  th:utext="${wypozyczenie.id_gry}">...</b> </td>
                        <td> <b  th:utext="${wypozyczenie.id_klienta}">...</b> </td>
                        <td> <b  th:utext="${wypozyczenie.id_pracownika}">...</b> </td>
                        <td> <b  th:utext="${wypozyczenie.koszt}">...</b> </td>

                    </tr>
                    </tbody>          
                </table>    
            </div>
            
            <a href="/index.html">Strona główna </a> 
            
        </div>


    </body>
</html>

