<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >    
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />        
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>        
        <title>Lista transakcji</title>
    </head>
    
    <body>
        
        
        <div class="container">                
            <h4>   <strong th:text="${header}"/>  </h4>      
                        
        </div>
           

        <div class="container">
            <div class="table-responsive">
                <table class="table table-bordered">          
                    <thead>
                        <tr  class="active">
                            <th>Imie</th>
                            <th>Nazwisko</th>
                            <th>Data urodzenia</th>
                            <th>Telefon</th>
                            <th>E-mail</th>
                            <th>Miasto</th>
                            <th>Ulica</th>
                            <th>Mieszkanie</th>
                        </tr>
                        
                    </thead>
                    <tbody>
                    <tr th:each ="klient : ${klientList}">

                        <td> <b  th:utext="${klient.imie}">...</b> </td>
                        <td> <b  th:utext="${klient.nazwisko}">...</b> </td>
                        <td> <b  th:utext="${klient.data_urodzenia}">...</b> </td>
                        <td> <b  th:utext="${klient.telefon}">...</b> </td>
                        <td> <b  th:utext="${klient.email}">...</b> </td>
                        <td> <b  th:utext="${klient.miasto}">...</b> </td>
                        <td> <b  th:utext="${klient.ulica}">...</b> </td>
                        <td> <b  th:utext="${klient.mieszkanie}">...</b> </td>

                    </tr>
                    </tbody>          
                </table>    
            </div>
            
            <a href="/index.html">Strona główna </a> 
            
        </div>


    </body>
</html>

